name: Build and Test

on:
    pull_request:
        branches:
            - main
            - dev

env:
    TELEMETRY_TRACKING_TOKEN: ${{ secrets.TELEMETRY_TRACKING_TOKEN }}
    DO_NOT_TRACK: '1'

permissions:
    contents: read

jobs:
    build-test:
        runs-on: buildjet-8vcpu-ubuntu-2204

        services:
            postgres:
                image: postgres
                env:
                    POSTGRES_PASSWORD: postgres
                # Set health checks to wait until postgres has started
                options: >-
                    --health-cmd pg_isready
                    --health-interval 10s
                    --health-timeout 5s
                    --health-retries 5
                ports:
                    - 5432:5432

            mysql:
                image: mysql:8.4
                env:
                    MYSQL_ROOT_PASSWORD: mysql
                ports:
                    - 3306:3306
                # Set health checks to wait until mysql has started
                options: >-
                    --health-cmd="mysqladmin ping --silent"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=3

        strategy:
            matrix:
                node-version: [22.x]
                provider: [sqlite, postgresql, mysql]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Install pnpm
              uses: pnpm/action-setup@v2
              with:
                  version: 10.12.1

            - name: Use Node.js ${{ matrix.node-version }}
              uses: buildjet/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'pnpm'

            - name: Use Bun
              uses: oven-sh/setup-bun@v2
              with:
                  bun-version: latest

            - name: Get pnpm store directory
              id: pnpm-cache
              shell: bash
              run: |
                  echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

            - name: Setup pnpm cache
              uses: buildjet/cache@v3
              with:
                  path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
                  key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
                  restore-keys: |
                      ${{ runner.os }}-pnpm-store-

            - name: Install dependencies
              run: pnpm install --frozen-lockfile

            - name: Build
              run: |
                  pnpm run build
                  pnpm tsx packages/cli/scripts/post-build.ts

            - name: Lint
              run: pnpm run lint

            - name: Set MySQL max_connections
              run: |
                  mysql -h 127.0.0.1 -uroot -pmysql -e "SET GLOBAL max_connections=500;"

            - name: Test
              run: TEST_DB_PROVIDER=${{ matrix.provider }} pnpm run test
